body,html {
    margin:0;
    padding:0;
}

#header {
    height:60px;
    width:100%;
    background-color:#EEEDEF;
}

#wrapper {
    position:absolute;
    width:100%;
    top:60px;
    bottom:0px;
}

.codetabs {
    display:table;
    width:100%;
    height:100%;
}

#logo {
    float:left;
    width:30%;
    font-size:1.8em;
    font-weight:bold;
    margin:10px 0 0 10px;
}

#toggles {
    float:left;
}

#toggles ul {
    list-style:none;
    border:1px solid #cccccc;
    border-radius:3px;
    padding-left:1px;
    background-color:grey;
    height:27px;
}

#toggles li {
    float:left;
    padding:5px;
    border-right:1px solid #cccccc;
}

#command {
    float:right;
    margin:15px 10px 0 0;
}

#command button {
    width:60px;
    font-size:1.1em;
    height:30px;
}

.selected {
    background-color:black;
    color:white;
}

.clear {
    clear: both;
    margin:0;
}

.code {
    display:table-cell;
    width:25%;
    height:100%;
    border:1px solid #cccccc;
}

.tag {
    text-align:right;
    width:100%;
    height:10%;
    font-size:1em;
    padding-top:10px;
}

.tag span {
    padding:5px;
    border:1px solid #cccccc;
    border-radius:0.2em;
    margin:15px;
}

.codearea {
    height:90%;
}
.codearea textarea {
    width:95%;
    height:95%;
    border:none;
    resize:none;
    font-family:monotype;
}
.codearea textarea:focus {
    outline:0;
}

.codearea iframe {
    width:100%;
    height:100%;
    border:none;
}
